[Desktop Entry]
Name=Blockwork
Comment=Create and manage macros
Exec=blockwork
Terminal=false
Type=Application
Icon=blockwork
Categories=Utility;
Keywords=Macro;Manager;