[Desktop Entry]
Name=Macros
Comment=Create and manage macros
Exec=macros
Terminal=false
Type=Application
Icon=macros
StartupWMClass=macros
Categories=Utility;
Keywords=Macro;Manager;Automation;Hotkey;
